<section id="matches" class="matches__items">
    {{#each items}}
        <article class="match__item">
            <table style="margin-bottom: 2em; width: 100%;">
                <tr>
                    <td>{{team_1.name}}</td>
                    <td>{{team_1_score}}</td>
                    <td>{{start_time}}</td>
                </tr>
                <tr>
                    <td>{{team_2.name}}</td>
                    <td>{{team_2_score}}</td>
                    <td>{{game_site.name}}</td>
                </tr>
            </table>
        </article>
    {{/each}}
</section>
