{{> header_match }}

<main id="main" role="main">
	<section id="scores" class="match_items">

		<article class="match__item">

			<form class="match__item__form" action="/api/match/score" method="POST">
				{{#if items.winner_id}}
					<h1 class="match__item__final__label">This game has finished</h1>
				{{/if}}
				{{#if feedbackMsg}}
					<h1 class="match__item__success__label"><i class="fa fa-check-circle" aria-hidden="true"></i> {{ feedbackMsg }}</h1>
				{{/if}}
				<!-- TEAMS -->
				<section class="match__item__teams">

					<!-- TEAMS HOME -->
					<div class="match__item__team match__item__team__home">
						<span class="match__item__team__info__name">{{items.team_1.short_name}}</span>
						<div class="match__item__team__info">
							<!--<span class="team__home__info__score match__item__team__info__score hidden">{{items.team_1_score}}</span>-->
							<input type="number" id="team1-input" class="team__home__info__score match__item__team__info__score" name="score_team_1" min="0" max="99" value="{{items.team_1_score}}"/>
							<!-- <span class="match__item__team__info__time">{{items.start_time}}</span> -->
						</div>

						<div class="match__item__team__buttons">
							{{#unless winner}}
								<div class="match__item__team__button__top">
									<button class="match__item__team__button match__item__team__button__plus hidden" name="team__home__plus" id="team__home__plus">+</button>
								</div>

								<div class="match__item__team__button__bottom">
									<button class="match__item__team__button match__item__team__button__minus hidden" name="team_home_minus" id="team__home__minus">-</button>
								</div>
							{{/unless}}
						</div>

					</div>

					<!-- TEAMS AWAY -->
					<div class="match__item__team match__item__team__away">
						<span class="match__item__team__info__name">{{items.team_2.short_name}}</span>
						<div class="match__item__team__info">
							<!--<span class="team__away__info__score match__item__team__info__score hidden">{{items.team_2_score}}</span>-->
							<input type="number" id="team2-input" class="team__away__info__score match__item__team__info__score" name="score_team_2" min="0" max="99" value="{{items.team_2_score}}" />
							<!-- <span class="match__item__team__info__field">{{items.game_site.name}}</span> -->
						</div>

						<div class="match__item__team__buttons">
							{{#unless winner}}
								<div class="match__item__team__button__top">
									<button class="match__item__team__button match__item__team__button__plus hidden" name="team__away__plus" id="team__away__plus">+</button>
								</div>

							<div class="match__item__team__button__bottom">
								<button class="match__item__team__button match__item__team__button__minus hidden" name="team_away_minus" id="team__away__minus">-</button>
								</div>
							{{/unless}}
						</div>
					</div>

				</section>

				<!-- Progress Bar -->
				<div id="progress" class="hidden">
					<div id="label-progress"><span id="messageLabel"></span><span id="queue_score_1"></span> - <span id="queue_score_2"></span></div>
					<div id="progressBar"></div>
					<button class="cancelScore"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
				</div>

				{{#unless winner}}
					<div class="match__item__submit">
						{{#if user }}
							<input type="hidden" id="user_id" name="userID" value="{{ user }}" />
							<input type="checkbox" id="check" name="isFinal" class="match__item__submit__checkbox" value="true" />
							<label class="match__item__final" for="check">Final score</label>
						{{/if }}
						<input type="hidden" id="gameID" name="gameID" value="{{ gameID }}" />
						<input class="match__item__submit__input" type="submit" id="submit" name="submit" value="Submit result" onClick="return confirm('Are you sure');" />
					</div>
				{{/unless}}
			</form>

		</article>

	</section>

	<section id="info" class="match_items">
		<article class="match__item">

			<h2 class="match__item__title">Match Details</h2>

			<table class="match__item__info">
				<tr>
					<th>Time</th>
					<td>{{items.start_time}} - 10:30</td>
				</tr>
				<tr>
					<th>Field</th>
					<td>{{items.game_site.name}}</td>
				</tr>
				{{#if items.pool_round }}
					<tr>
						<th>Round</th>
						<td>{{items.pool_round.round_number}}</td>
					</tr>
				{{/if}}
				<tr>
					<th>Tournament</th>
					<td>{{items.tournament.name}}</td>
				</tr>
			</table>

			<div class="match__item__location">
				<img class="match__item__location__image" src="{{ items.game_site.event_site.image_400 }}" alt="Map" />
			</div>

		</article>
	</section>

</main>

{{> footer_matches}}
