<article class="ranking__item">
        <table class="ranking__item__table">
            <tr class="ranking__item__table__row">
                <td class="ranking__item__shirt">
                    <svg class="ranking__item__shirt__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 446.58 446.58" style="enable-background:new 0 0 446.58 446.58;" xml:space="preserve">
                        <path style="fill:#010002;" d="M350.657,395.571H95.919c-3.294,0-5.967-2.667-5.967-5.967V192.596l-19.285,19.285
                    			c-2.238,2.238-6.2,2.238-8.437,0L1.75,151.407c-2.333-2.333-2.333-6.104,0-8.437l89.378-89.378
                    			c1.086-1.539,2.834-2.584,4.797-2.584h60.737c3.294,0,5.967,2.673,5.967,5.967c0,33.45,27.215,60.665,60.665,60.665
                    			s60.665-27.215,60.665-60.665c0-3.294,2.667-5.967,5.967-5.967h60.737c2.178,0,4.087,1.17,5.126,2.912l89.044,89.05
                    			c1.122,1.122,1.748,2.637,1.748,4.219s-0.627,3.103-1.748,4.219l-60.486,60.474c-2.333,2.333-6.104,2.333-8.437,0l-19.285-19.285
                    			v197.008C356.623,392.904,353.95,395.571,350.657,395.571z M101.886,383.638h242.798V178.192c0-2.411,1.45-4.589,3.682-5.513
                    			c2.232-0.925,4.797-0.412,6.504,1.295l25.252,25.252l52.043-52.037L347.93,62.942h-52.288
                    			c-3.043,37.257-34.333,66.632-72.354,66.632s-69.311-29.381-72.354-66.632H98.652l-84.246,84.246l52.043,52.043L91.7,173.974
                    			c1.707-1.707,4.266-2.214,6.504-1.295c2.232,0.925,3.682,3.103,3.682,5.513C101.886,178.192,101.886,383.638,101.886,383.638z" />
                    </svg>
                </td>
                <td class="ranking__item__name"><span>{{team.short_name}}</span></td>
                <td class="wins">W {{wins}}</td>
                <td class="losses">L {{losses}}</td>
            </tr>
        </table>
        <div class="ranking__item__info">
            <p class="ranking__item__info__time">{{ranking}}</p>
            <p class="ranking__item__info__field">{{swiss_score}}</p>
        </div>
</article>
<hr class="ranking__divider" />
